<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", linha_horarios_idas_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_linha_horarios_ida_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> HorariosIdas</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">Número</th>
          <th><%= t("activerecord.attributes.horarios_ida.linha_id", :default => t("activerecord.labels.linha_id", :default => "Linha")) %></th>
          <th>Hora</th>
          <th>Dia da Semana</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @horarios_idas.each do |horarios_ida| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td><%= horarios_ida.linha.numero %></td>
          <td><%= link_to horarios_ida.linha.nome, linha_horarios_ida_path(horarios_ida.linha, horarios_ida) %></td>
          <td><%= l(horarios_ida.hora, :format => :time) %></td>
          <td><%= horarios_ida.dia_da_semana %></td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", linha_horarios_ida_path(horarios_ida.linha, horarios_ida) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_linha_horarios_ida_path(horarios_ida.linha, horarios_ida) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", linha_horarios_ida_path(horarios_ida.linha, horarios_ida), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
