<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", linhas_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_linha_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", linha_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.linha.numero", :default => t("activerecord.labels.numero", :default => "Numero")) %>:</b>
          <%= @linha.numero %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.linha.nome", :default => t("activerecord.labels.nome", :default => "Nome")) %>:</b>
          <%= @linha.nome %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.linha.empresa_id", :default => t("activerecord.labels.empresa_id", :default => "Empresa")) %>:</b>
          <%= @linha.empresa.nome if @linha.empresa %>
        </p>

      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_linha_path(@linha), :class => "button" %> 
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), linha_path(@linha), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
