<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", linha_horarios_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_linha_horario_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Horarios</h2>
    <div class="inner">
      <div class="box horarios">
        <h3>Ida</h3>
        <h4>Dia útil</h4>
        <ul>
          <% @horarios[:i][:u].each do |h| %>
          <li><%= l(h.hora, :format => :time) %></li>
          <% end %>
        </ul>
        <h4>Sábado</h4>
        <ul>
          <% @horarios[:i][:s].each do |h| %>
          <li><%= l(h.hora, :format => :time) %></li>
          <% end %>
        </ul>
        <h4>Domingo</h4>
        <ul>
          <% @horarios[:i][:d].each do |h| %>
          <li><%= l(h.hora, :format => :time) %></li>
          <% end %>
        </ul>     
      </div>
      <div class="box horarios">
        <h3>Volta</h3>
        <% if @horarios[:v][:u].size + @horarios[:v][:d].size + @horarios[:v][:d].size > 0  %>
          <% if @horarios[:v][:u].size > 0 %>
          <h4>Dia útil</h4>
          <ul>
            <% @horarios[:v][:u].each do |h| %>
            <li><%= l(h.hora, :format => :time) %></li>
            <% end %>
          </ul>
          <% end %>
          <% if @horarios[:v][:s].size %>
          <h4>Sábado</h4>
          <ul>
            <% @horarios[:v][:s].each do |h| %>
            <li><%= l(h.hora, :format => :time) %></li>
            <% end %>
          </ul>
          <% end %>
          <% if @horarios[:v][:d].size %>
          <h4>Domingo</h4>
          <ul>
            <% @horarios[:v][:d].each do |h| %>
            <li><%= l(h.hora, :format => :time) %></li>
            <% end %>
          </ul>
          <% end %>
        <% else %>
          <p>Não há horários de volta para esta linha<p>
        <% end %>
      </div>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
