<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", linha_itinerarios_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_linha_itinerario_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", linha_itinerario_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.itinerario.linha_id", :default => t("activerecord.labels.linha_id", :default => "Linha")) %>:</b>
          <%= @itinerario.linha_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.itinerario.endereco_id", :default => t("activerecord.labels.endereco_id", :default => "Endereco")) %>:</b>
          <%= @itinerario.endereco_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.itinerario.sentido", :default => t("activerecord.labels.sentido", :default => "Sentido")) %>:</b>
          <%= @itinerario.sentido %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.itinerario.position", :default => t("activerecord.labels.position", :default => "Position")) %>:</b>
          <%= @itinerario.position %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_linha_itinerario_path(@itinerario), :class => "button" %> 
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), linha_itinerario_path(@itinerario), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
