<h1>Lista de bairros</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Cidade</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bairros.each do |bairro| %>
  <tr>
    <td><%= bairro.nome %></td>
    <td><%= bairro.cidade.nome %></td>
    <td><%= link_to 'Mostrar', bairro %></td>
    <td><%= link_to 'Editar', edit_bairro_path(bairro) %></td>
    <td><%= link_to 'Excluir', bairro, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Bairro', new_bairro_path %>
