<p id="notice"><%= notice %></p>

<% if @bairro %>
<p>
  <b>Nome:</b>
  <%= @bairro.nome %>
</p>

<p>
  <b>Cidade:</b>
  <%= @bairro.cidade.nome if @bairro.cidade %>
</p>
<% end %>

<% if @doc %>
<table>
	<thead>
		<tr>
			<th>Código</th>
			<th>Nome</th>
		</tr>
	</thead>
	<tbody>
<% @doc.css('.fundocadastrologin').each do |linha| %>
	<tr>
		<td><%= linha.at('td div').text %></td>
		<td><%= linha.at('td[@width="238"]').text %></td>
	</tr>
<% end %>
	<tbody>
</table>
<% end %>
